.container {
    width: 100%;
    display: table;
    transition: all 0.5s;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s;
}

.table {
    width: 100%;
    display: table-cell;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.mobileMenuItem {
    padding: 10px 20px;
    user-select: none;
}

.mobileMenuItem:hover {
    padding: 10px 20px;
    cursor: pointer;
}

.mobileMenuItem:active {
    padding: 10px 20px;
}