.container {
    width: "100%";
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 40px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 8px 12px 4px rgba(0,0,0,0.10);
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
}

.image {
    margin-right: 20px;
}

.rightContainer {

}

.imdbRow {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.imdbStickerContainer {
    flex-direction: row;
}

.imdbSticker {
    padding: 4px 8px;
    background-color: gold;
    font-weight: bold;
    margin-right: 8px;
}

.imdbPoint {
    font-weight: 700;
    font-size: 18px;
}

.year {
    color: goldenrod;
    font-weight: 600;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    
    .imdbStickerContainer {
        margin-top: 12px;
    }
}